/* CSS Grid for Food Thought*/

body {
    background-color: #ffff;
    margin: 1em;
}


header {
    grid-area: a;
    text-align: center;
    height: 600px;
}

#tagline {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin: -5px;
}

#bigimage {
    grid-area: b;
    align-items: stretch;
}


#backgroundpicture {
    height: auto;
    width: 100%;
    opacity:;
    position: relative;
    display: flex;
    align-items: center;
}
/*
.box {
    background-color: black;
    position: absolute;
     height: 50%;
  width: 100%;
  top: 45%;
    opacity: .8;
    
}
*/
.copytitle {
  color: white;
    margin: 100;
    padding: 295px;  
    position:absolute;
    left:0;
    right: 0;
    bottom:0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background: rgb (0, 0 , 0);
    background: rgba (0, 0, 0, 0.7);
}

.copymain {
    color: white;
    margin: 100;
    padding: 60px;  
    position:absolute;
    left:0;
    right: 0;
    bottom:0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#auto1 {
    grid-area: c;
}

#auto2 {
    grid-area: d;
}

#pic1 {
    grid-area: e;
}

#pic2 {
    grid-area: f;
}

footer {
    grid-area: g;
    background-color: ;
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    width: 100%;
   
    
}

#minilogo {
    background: #b5302b;
    height: 80px;
    width: 80px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    
}

#forslag {
    margin-left: 100px;
    margin-top: -90px;
    margin-bottom: 0px;
    
}

h2 {
    padding-bottom: -12px;
}

a {
    color: #F29901;
    padding-top: -10px;
    margin-top: -10px;
}

p {
    margin-top: -10px;
}
#contactinformation {
    
    float: right;
    margin-right: 20px;
    margin-top: -100px;
    text-align: right;
}

#copyrightinformation {
    float: right;
}

#pagewrap {
    display: grid;
    grid-gap: 0em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
            "a a"
            "b b"
            "c d"
            "e f"
            "g g"
}